* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: sans-serif;
}

main {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

#canvas-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    overflow: hidden;
}

#ui-wrapper {
    padding: 16px;
    width: 50%;

    .functions-wrap {
        padding: 8px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .function {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 8px;
            }

            .step {
                cursor: pointer;

                &.selected {
                    outline: 3px solid black;
                    z-index: 1;
                }
            }

            span {
                margin-right: 8px;
            }
        }
    }

    .timeline {
        height: 56px;
        display: flex;
        padding: 8px;
        overflow: hidden;

        .step {
            flex: 0 0 40px;

            &:first-child {
                outline: 3px solid black;
                z-index: 1;
            }
        }
    }

    .step {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-left: 1px;
        outline: 1px solid black;
    }

    .tools {
        .row {
            display: flex;
            justify-content: center;
            padding: 8px;

            > div {
                width: 40px;
                height: 40px;
                margin: 0 8px;
                border: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
            }
        }
    }
}

[data-color="1"] {
    background-color: #4caf50;
}

[data-color="2"] {
    background-color: #2196f3;
}

[data-color="3"] {
    background-color: #ffc107;
}

[data-tool="forward"] {
    &::after {
        content: "^";
    }
}

[data-tool="right"] {
    &::after {
        content: ">";
    }
}

[data-tool="left"] {
    &::after {
        content: "<";
    }
}

[data-tool="paint"] {
    &::after {
        content: "p";
    }
}

[data-tool="f1"] {
    &::after {
        content: "f1";
    }
}

[data-tool="f2"] {
    &::after {
        content: "f2";
    }
}
